{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {onion,   {git, "git@lab.baconsvin.org:talla/onion.git",   {branch, "develop"}}},

    {lager,   {git, "https://github.com/basho/lager.git",      {tag, "3.1.0"}}},
    {ranch,   {git, "https://github.com/ninenines/ranch.git",  {tag, "1.1.0"}}},
    {cowboy,  {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git",  {tag, "1.4.9"}}}
]}.

{relx, [
    {release, {talla, "0.1.0"}, [
        talla_core,
        talla_dir,
        talla_or
    ]},

    {sys_config, "config/sys.config"},

    {dev_mode,     true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{cover_enabled, true}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},

    {test, [
        {deps, [
            {triq, {git, "https://github.com/krestenkrab/triq.git", {branch, "master"}}}
        ]}
    ]}
]}.

%% vim: set ft=erlang :
