%%%
%%% Copyright (c) 2015, 2016 The Talla Authors. All rights reserved.
%%% Use of this source code is governed by a BSD-style
%%% license that can be found in the LICENSE file.
%%%
[
    % Talla Core configuration.
    {talla_core, [
        %% Talla's data directory for storing keys, etc.
        {data_dir, "~/.talla"},

        %% Authorities: comment out for production network.
        {authorities, "~/.talla/chutney"}
    ]},

    % Talla Directory configuration.
    {talla_dir, [
        %% Enable directory cache.
        {enabled, true},

        %% Talla Directory Server Port.
        {port, 19080}
    ]},

    % Talla Onion Router configuration.
    {talla_or, [
        %% Enable the Onion Router.
        {enabled, true},

        %% Nickname.
        {nickname, "TallaTest"},

        %% Contact.
        {contact, "Alexander Færøy"},

        %% Address.
        {address, "127.0.0.1"},

        %% Port.
        {port, 19000},

        %% Exit Policy.
        {exit_policy, [
            {reject, "*:*"}
        ]},

        %% Maximum number of incoming connections.
        {max_connections, 1024}
    ]},

    % Lager configuration.
    {lager, [
        % Console colors.
        {colored, true},

        % Log handlers configuration.
        {handlers, [
            % Console logging.
            {lager_console_backend, notice},

            % Error file logging.
            {lager_file_backend, [
                {file, "log/error.log"},
                {level, error},
                {date, "$D0"},
                {count, 5}
            ]},

            % Console file logging.
            {lager_file_backend, [
                {file, "log/console.log"},
                {level, notice},
                {date, "$D0"},
                {count, 5}
            ]}
        ]}
    ]},

    % SASL configuration.
    {sasl, [
        % Log file.
        {sasl_error_logger, {file, "log/sasl-error.log"}},

        % Log type.
        {errlog_type, error},

        % Log directory.
        {error_logger_mf_dir, "log/sasl"},

        % 10 MB max file size.
        {error_logger_mf_maxbytes, 10485760},

        % 5 files max.
        {error_logger_mf_maxfiles, 5}
    ]}
].

%% vim: set ft=erlang :
